<h1>These are the user variables injected</h1>

<table>
  <tr>
    <td bgcolor="#F0E5CC" align="center"><h2><i>user:</i></h2></td>
    <td bgcolor="#F0E5CC"><h3>{{ user }}</h3></td>
  </tr>
  <tr>
    <td bgcolor="#DBDBDB" align="center" width="120"><h2><i>password:</i></h2></td>
    <td bgcolor="#DBDBDB"><h3>{{ password }}</h3></td>
  </tr>
  <tr>
    <td bgcolor="#F0E5CC" align="center"><h2><i>key:</i></h2></td>
    <td bgcolor="#F0E5CC"><h4>{{ key }}</h4></td>
  </tr>
</table>

<table>
  <tr><td height="20"></td></tr>
  <tr>
    <td>Powered by</td>
    <td><img src="http://ab71bc6cbe6c47bb5705-e80e692ba07dc44a759d7d5967b76d8a.r90.cf1.rackcdn.com/python.png"
     alt="Powered by Solum" height="30" width="70"></td>
    <td><img src="http://ab71bc6cbe6c47bb5705-e80e692ba07dc44a759d7d5967b76d8a.r90.cf1.rackcdn.com/solum.png"
     alt="Powered by Solum" height="30" width="70"></td>
  </tr>
</table>
