
<h1>Python Hello,World app for SOLUM demo</h1>
Trigger change
<table>
  <tr>
    <td bgcolor="#F0E5CC" align="center"><h5>Container/HostServer Name:</h5></td>
    <td bgcolor="#F0E5CC"><h3>{{ container }}</h3></td>
  </tr>
</table>


<table>
  <tr><td height="20"></td></tr>
  <tr>
    <td>Powered by</td>
    <td><img src="http://ab71bc6cbe6c47bb5705-e80e692ba07dc44a759d7d5967b76d8a.r90.cf1.rackcdn.com/python.png"
     alt="Powered by Solum" height="30" width="70"></td>
    <td><img src="http://ab71bc6cbe6c47bb5705-e80e692ba07dc44a759d7d5967b76d8a.r90.cf1.rackcdn.com/solum.png"
     alt="Powered by Solum" height="30" width="70"></td>
  </tr>
</table>
